{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <h1 class="reg-header">Register for Full House</h1>
  <h2 class="reg-header">It's fast, free, and easy!</h2>
  <p class="reg-header">
    <strong>Fields marked with * are required. </strong>
  </p>
  <div id="register">
    <form name="account-registration" action="." method="POST">
      {% csrf_token %}

      <div class = "fieldWrapper">
        {{ form.email.errors }}
        <label form="email">Email Address*: </label>
        {{ form.email }}
      </div>

      <div class = "fieldWrapper">
        {{ form.password1.errors }}
        <label form="password1">Password*: </label>
        {{ form.password1 }}
      </div>

      <div class = "fieldWrapper">
        {{ form.password2.errors }}
        <label form="password2">Confirm Password*: </label>
        {{ form.password2 }}
      </div>

      <input type="hidden" name="next" value="{{ next }}" />
      <div id="register-button">
        <input type="submit" value="{% trans 'Register' %}" />
      </div>
    </form>
  </div>
{% endblock %}
