#dash {
  overflow: auto;
}

.pane {
  background-color: #E3EFF2;
  border-radius: 5px;
  display: inline-block;
  height: 320px;
  padding: 1%;
  width: 47%;
}

.inner_pane {
  height: 240px;
  overflow-y: scroll;
}

#announcements {
  float: left;
}

.announcement {
  border-top: 1px solid black;
  margin-right: 5px;
  padding: 5px;
  word-wrap: break-word;
}

.announcement:last-child {
  border-bottom: 1px solid black;
}

.announcement .createdby {
  font-size: smaller;
  font-style: italic;
}

#add-ann, #add-task, #edit-ann, #edit-task {
  float: right;
  font-size: 14px;
}

#tasks {
  float: right;
}

.overdue {
  color: red;
}

.dash-header {
  font-family: serif;
}

.task {
  border-top: 1px solid black;
  margin-right: 5px;
  padding: 5px;
  word-wrap: break-word;
}

.task:last-child {
  border-bottom: 1px solid black;
}

.task .createdby {
  font-size: smaller;
  font-style: italic;
}

#task-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

