#dash {
  padding: 0 10px;
}

.pane {
  background-color: #E3EFF2;
  border-radius: 5px;
  display: inline-block;
  height: 320px;
  padding: 1%;
  width: 47%;
}

.inner_pane {
  height: 240px;
  overflow-y: scroll;
}

.add-announcement-link {
  font-size: 14px;
}

#announcements {
  float: left;
}

.announcement {
  border-top: 1px solid black;
  margin-right: 5px;
  padding: 5px;
  word-wrap: break-word;
}

.announcement:last-child {
  border-bottom: 1px solid black;
}

.announcement .createdby {
  font-size: smaller;
  font-style: italic;
}

#add-icon {
  width: 15px;
  height: 15px;
}

#add-ann {
  float: right;
}

#tasks {
  float: right;
}

.dash-header {
  font-family: serif;
  padding-left: 10px;
}


#main {
  background-color: white;
  height: 450px;
  margin: auto;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 70%;
}

