#dash {
  padding: 0 10px;
}

.pane {
	background-color: #E3EFF2;
  border-radius: 5px;
  display: inline-block;
  height: 320px;
  padding: 10px;
  width: 47%;
}

.inner_pane {
	height: 200px;
  overflow-y: scroll;
}

#announcments {
  float: left;
}

#tasks {
  float: right;
}

.dash-header {
	font-family: serif;
  padding-left: 10px;
}
