#pw-change {
  display: inline-block;
  padding: 20px;
  text-align: right;
}

#pw-change input[type="text"], #register input[type="password"] {
  width: 150px;
}

#pw-change-button {
	padding: 5px;
	text-align: center;
}
