#register {
  display: inline-block;
  padding: 20px;
  text-align: right;
}

#register input[type="text"], #register input[type="password"] {
  width: 150px;
}

#register select {
  width: 154px;
}

#register-button {
	padding: 5px;
	text-align: left;
}

.reg-header {
  padding-left: 10px;
}
