.task-history-record {
  border-bottom: 1px solid black;
  width: 50%;
}

.task-history-record:last-child {
  border-bottom: none;
}

#task-title {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

