#user-settings {
  display: inline-block;
  padding: 20px;
  text-align: right;
}

#user-settings h1 {
  padding-left: 10px;
}

#user-settings input[type="text"], #user-settings input[type="password"] {
  width: 150px;
}

#user-settings select {
  width: 154px;
}

#user-settings-submit {
  padding: 5px;
  text-align: left;
}
