#welcome {
  text-align: center;
}

#login {
  display: inline-block;
  margin: auto;
  padding-top: 20px;
}

#login-button {
  padding: 5px;
}

#welcome #username, #welcome #password {
  text-align: right;
}
