{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!doctype html>
<title>
  Full House - 
  {% block title %}
    Welcome
  {% endblock %}
</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36074829-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}main.css" />
{% block css %} {% endblock %}
<div id="header">
  {% block header %}
    <LINK REL="SHORTCUT ICON" HREF="{{ STATIC_PREFIX }}favicon.ico" type="image/x-icon">
    <a id="header-logo" href="{% url welcome %}"> 
      <img src="{{ STATIC_PREFIX }}header-logo.png" alt="logo"/>
    </a>
    {% if user.is_authenticated %}
      <ul class="nav">
        <li><a href="{% url edit_user %}">User Settings</a></li>
        <li><a href="{% url edit_house %}">House Settings</a></li>
        <li><a href="{% url dashboard_add_members %}">Invite Housemates</a></li>
        <li><a href="{% url auth_logout %}">Logout</a></li>
      </ul>
    {% endif %}
  {% endblock %}
</div>
<div id="main">
  {% block content %}
  <div class="error">
    There was an error fetching the web page.
  </div>
  {% endblock %}
</div>
<div id="footer">
  {% block footer %}  
    <br>
    <a href = "{% url about_us %}">About Us</a>
  {% endblock %}
</div>
