{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Contact_Us
{% endblock %}

{% block content %}
  <div id="contact_us">
    <h1 class="reg-header">Contact Us</h1>
    <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEhPVXlOb19Yd2RYNWVLZmFiRDVXY0E6MQ" height="500px" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
   </div>
{% endblock %}


<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEhPVXlOb19Yd2RYNWVLZmFiRDVXY0E6MQ" width="760" height="681" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
