{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Create House
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}create_house.css" />
{% endblock %}

{% block content %}
  <div id="createhouse">
    {% if error %}
      {{ error }}
    {% else %}
    <h1> Create a house!</h1>
      <form name="create-house" action="." method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.name.errors }}
          <label form="housename">House Name: </label>
          {{ form.name }}
        </div>

        <input type="submit" value="{% trans 'Create My House' %}" />
      </form>
    {% endif %}
  </div>
{% endblock %}
