{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Create Announcement
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}create_announcement.css" />
{% endblock %}

{% block content %}
  <div id="createannouncement">
    <h2>Create New Announcement</h2>
    <form name="create-announcement" action="." method="POST">
      {% csrf_token %}

      <div class = "fieldWrapper">
        {{ form.text.errors }}
        <label for="id_text">Announcement: </label>
        {{ form.text }}
      </div>

      <div class = "fieldWrapper">
        {{ form.expiration.errors }}
        <label for="id_expiration">Expiration (MM-DD-YYYY): </label>
        {{ form.expiration }}
      </div>

      <input type="submit" class="btn" value="{% trans 'Create Announcement' %}" />
    </form>
  </div>
{% endblock %}
