{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Create Task
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}create_task.css" />
{% endblock %}

{% block content %}
  <div id="create-task">
    <h1>Create New Task</h1>
    <form name="create-announcement" action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div id="create-task-submit">
        <input type="submit" value="{% trans 'Create Task' %}" />
      </div>
    </form>
  </div>
{% endblock %}
