{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Create Task
{% endblock %}

{% block content %}
  <div id="create-task">
    <h1>Create New Task</h1>
    <form name="create-task" action="." method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      {% comment %}
      {{ form.non_field_errors }}

      <div class = "fieldWrapper">
        {{ form.title.errors }}
        <label form="title">Title: </label>
        {{ form.title }}
      </div>

      <div class = "fieldWrapper">
        {{ form.description.errors }}
        <label form="description">Description: </label>
        {{ form.description }}
      </div>

      <div class = "fieldWrapper">
        {{ form.participants.errors }}
        <label form="assigned">Participants (ctrl click to select multiple): </label>
        {{ form.participants }}
      </div>

     <div class = "fieldWrapper">
        {{ form.frequency.errors }}
        <label form="frequency">Frequency: </label>
        {{ form.frequency }}
      </div>

     <div class = "fieldWrapper">
        {{ form.first_due.errors }}
        <label form="first_due">First Due (MM-DD-YYYY): </label>
        {{ form.first_due }}
      </div>
      {% endcomment %}

      <div id="create-task-submit">
        <input type="submit" class="btn" value="{% trans 'Create Task' %}" />
      </div>
    </form>
  </div>
{% endblock %}
