{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Dashboard
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}dashboard.css" />
{% endblock %}

{% block content %}
<h1 class="dash-header">Welcome to {{ user.profile.house.name }}, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</h1>
  <div id="dash">
    <div class="pane" id="announcements">
      <h2>Announcements <a id="add-ann" href="{% url create_announcement %}">
        <img src="{{ STATIC_PREFIX }}add_icon.png" id="add-icon" />add</a>
      </h2>
      <div class="inner_pane">
        {% for announcement in announcements %}
          <div class="announcement">
            <p>
              {{ announcement.text }}
            </p>
            <p class="createdby">
              Posted by
              {% if announcement.creator.user == user %}
                you <a href="{% url edit_announcement %}?id={{ announcement.id }}">edit</a>
              {% else %}
                {{ announcement.creator.user.username }}
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="pane" id="tasks">
      <h2>Tasks <a id="add-task" href="{% url create_task %}">
        <img src="{{ STATIC_PREFIX }}add_icon.png" id="add-icon" />add</a>
      </h2>
      <div class="inner_pane">
        {% for task in tasks %}
          <div class="task">
            {% include "task.html" with task=task user=user only %}
          </div>
        {% endfor %}
      </div>
      <p>
        <a href="/dashboard/task/history/">history</a>
      <p>
    </div>
  </div>
{% endblock %}
