{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Dashboard
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}dashboard.css" />
{% endblock %}

{% block content %}
  <h1 class="dash-header">Welcome to Full House, user!</h1>
  <div id="dash">
    <div class="pane" id="announcements">
      <h2>Announcements</h2>
      <div class="inner_pane">
        <div class="announcement">
          <p>This is an announcement!</p>
        </div>
      </div>
    </div>
    <div class="pane" id="tasks">
      <h2>Tasks</h2>
      <div class="inner_pane">
        <div class="task">
          <p>This is a task!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
