{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Edit Task
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}create_task.css" />
{% endblock %}

{% block content %}
  <div id="createannouncement">
    <h2>Edit Task</h2>
    <form name="edit-task" action="." method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <input type="hidden" name="id" value="{{ id }}" />

      {{ form.as_p }}
      {% comment %}
      <div class = "fieldWrapper">
        {{ form.title.errors }}
        <label form="title">Title: </label>
        {{ form.title }}
      </div>

      <div class = "fieldWrapper">
        {{ form.description.errors }}
        <label form="description">Description: </label>
        {{ form.description }}
      </div>

      <div class = "fieldWrapper">
        {{ form.participants.errors }}
        <label form="assigned">Participants: </label>
        {{ form.participants }}
      </div>

     <div class = "fieldWrapper">
        {{ form.frequency.errors }}
        <label form="frequency">Frequency: </label>
        {{ form.frequency }}
      </div>

     <div class = "fieldWrapper">
        {{ form.first_due.errors }}
        <label form="first_due">First Due (MM-DD-YYYY): </label>
        {{ form.first_due }}
      </div>
      {% endcomment %}

      <input type="submit" name="save" value="{% trans 'Save Changes' %}" />
      <input type="submit" name="discontinue" value="{% trans 'Discontinue' %}" />
    </form>
  </div>
{% endblock %}
