{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Create Announcement
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}create_announcement.css" />
{% endblock %}

{% block content %}
  <div id="createannouncement">
    <h2>Edit Announcement</h2>
    <form name="edit-announcement" id="edit-announcement-form" action="." method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ id }}" />
      {{ form.as_p }}
      <input type="submit" class="btn" name="save" value="{% trans 'Save Changes' %}" />
      <a class="btn" href="#" id="delete-ann-btn">Delete</a>
      <script>
        $('#delete-ann-btn').click(function() {
          bootbox.dialog("{{ delete_ann_message }}", [
            {
              'label': 'Delete',
              'class': 'btn-danger',
              'callback': function() {
                var delete_input = $("<input type='hidden' name='delete' />");
                $('#edit-announcement-form').append(delete_input).submit();
              }
            },
            {
              'label': 'Cancel',
              'class': 'btn-primary'
            }
          ]);
          return false;
        });
      </script>
    </form>
  </div>
{% endblock %}
