{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  House Settings
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}add_members.css" />
{% endblock %}

{% block content %}
  <div id="house-settings">
    <div id="emptyform">
      {{ formset.empty_form.as_p }}
    </div>
    {% if error %}
      {{ error }}
    {% else %}
      <h1>House Settings</h1>
      <form id="house-settings-form" name="house-settings" action="." method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" name="save" value="{% trans 'Save House Settings' %}" />
        <br>

        {{ form.as_p }}

        <a class="btn" href="#" id="leave-house-btn">Leave this House</a>
        <script>
          $('#leave-house-btn').click(function() {
            bootbox.dialog("{{ leave_message }}", [
              {
                'label': 'Leave House',
                'class': 'btn-danger',
                'callback': function() {
                  var leave_input = $("<input type='hidden' name='leave_house' />");
                  $('#house-settings-form').append(leave_input).submit();
                }
              },
              {
                'label': 'Cancel',
                'class': 'btn-primary'
              }
            ]);
            return false;
          });
        </script>

        <script src="{{ STATIC_PREFIX }}add_members.js" ></script>
        <div id="addmembers">
          <h1>Housemates</h1>
          Current members:
          <ul class="members current">
          {% for member in members %}
            <li>{{ member }}</li>
          {% endfor %}
          </ul>
          {% if invitees|length != 0 %}
            Invited members:
            <ul class="members invite">
          {% endif %}
          {% for invitee in invitees %}
            <li>{{ invitee }} (<a href=".?uninvite={{invitee}}">Cancel invitation</a>)</li>
          {% endfor %}
          {% if invitees|length != 0 %}
            </ul>
          {% endif %}

          {{ formset.management_form }}
          {{ formset.non_form_errors }}
          <div id="forms">
            {% for form in formset.forms %}
              {{ form.as_p }}
            {% endfor %}
          </div>
          <div>
            <input type="button" class="btn" id="add_email" value="Add Row" />
          </div>
        </div>
        <br>

        <input type="submit" class="btn" name="save" value="{% trans 'Save House Settings' %}" />
      </form>
    {% endif %}
  </div>
{% endblock %}
