{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Task History
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}task-history.css" />
{% endblock %}

{% block content %}
{% for task in tasks %}
  {% for instance in task.instances %}
    <div class="task-history-record">
      <p> 
        <div id="task-title">
          {{ task.title }}
        </div>
      </p>
      <p>
      Assigned to {{ instance.assignee }}, due {{ instance.due_date }}
      </p>
      <p>
      {% if instance.completed_by %}
        Completed by {{ instance.completed_by.user.username }} on {{ instance.completed_date }}
      {% else %}
        NOT COMPLETED
        <br>
        {% if user.profile in task.participants %}
          <a id="completed" class="btn" href="/dashboard/task/update/complete/?id={{ instance.id }}&next={% url task_history %}"><i class="icon-ok"></i> Complete</a>
        {% endif %}
      {% endif %}
      </p>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}
