{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  User Settings
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}user_settings.css" />
{% endblock %}

{% block content %}
  <div id="user_settings">
    {% if error %}
      {{ error }}
    {% else %}
      <h1>User Settings</h1>
      <form name="user-settings" action="." method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="fieldWrapper">
          <br>
          <a href="{% url auth_password_change %}"><b>Change your password</b></a>
        </div>

        <div id="user-settings-submit">
          <br>
          <input type="submit" value="{% trans 'Save User Settings' %}" />
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
