{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Welcome
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}welcome.css" />
{% endblock %}

{% block content %}
  <div id="welcome">
    <div id="logo">
      <img src="{{ STATIC_PREFIX }}large-logo.png" alt="logo" />
    </div>
    <div id = "tag-line">
      <p>
        <em>Your digital kitchen whiteboard</em>
      </p>
    </div>
    <form id="login" action="{% url auth_login %}" method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      <input type="hidden" name="next" value="{{ next }}" />
      <div id="login-button">
        <input type="submit" class="btn" value="Login" />
      </div>
      <div>
			  <br>
			  <a id="forgot-pw" href = "{% url auth_password_reset %}">Forgot password</a>
			  <a id="register" href = "{% url registration_register %}">Register</a>
      </div>
    </form>
  </div>
{% endblock %}
