{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Welcome
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}welcome.css" />
{% endblock %}

{% block content %}
  <div id="welcome">
    <div id="logo">
      <img src="{{ STATIC_PREFIX }}large-logo.png" alt="logo" />
    </div>
    <form id="login" action="/accounts/login/" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div id="login-form-fields">
        {{ form.email.errors }}
        <p>
          {{ form.email.label_tag }}: {{ form.email }}
        </p>
        {{ form.password.errors }}
        <p>
          {{ form.password.label_tag }}: {{ form.password }}
        </p>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
      <div id="login-button">
        <input type="submit" value="Login" />
      </div>
      <div>
			  <br>
			  <a href = "/accounts/password/reset/">Forgot password</a>
			  <a href = "/accounts/register/">Register </a>
      </div>
    </form>
  </div>
{% endblock %}
