{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div id="welcome">
    <div id="logo">
      <img src="{{ STATIC_PREFIX }}large-logo.png" alt="logo" />
    </div>
    <form id="login" action="/accounts/login/" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <!-- temp comment, remove when form fields arranged as desired
      <div id="username">
	Username: <input placeholder="username" />
      </div>
      <div id="password">
        Password: <input type="password" placeholder="*******" />
      </div>
      -->
      <div id="login-button">
        <input type="submit" value="Login" />
      </div>
      <div>
			  <br>
			  <a href = "/accounts/password/reset/">Forgot password</a>
			  <a href = "/accounts/register/">Register </a>
      </div>
    </form>
  </div>
{% endblock %}
