{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<title>Full House - Welcome</title>
<link rel="stylesheet" href="{{ STATIC_PREFIX }}welcome.css" />
<div id="welcome">
  <div id="logo">
    <img src="{{ STATIC_PREFIX }}main-logo.png" alt="logo" />
  </div>
  <form id="login" action="../login/" method="POST">
    {% csrf_token %}
    <div id="email">
      Email: <input placeholder="Email or username" />
    </div>
    <div id="password">
      Password: <input type="password" placeholder="*******" />
    </div>
    <div id="login-button">
      <input type="submit" value="Login" />
    </div>
    <div> 
			<br>
			<a href = "password-recovery-page.com">Forgot password</a>
			<a href = "registration-page">Register </a>
    </div>
  </form>
</div>
